# Python requirements for unit tests
-r ../requirements.txt

# alignak
-e git+https://github.com/Alignak-monitoring/alignak.git@develop#egg=alignak

# Let coverage use the most recent version
coverage

# Report coverage results to codecov
codecov

# Static code analysis libraries
pylint
pycodestyle
pep257

# Use py.test as test-runner
unittest2
pytest
pytest-cov
